<!DOCTYPE html>

<html>

<head>
<title>about</title>
<link rel='icon' href="/img/favicon.png">
    <!-- Absolute path version-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This site was created by shiva. This uses data from mapbox.com and weather app</p>

        <img class="protrait" src="/img/Arya.jpg">
    </div>



    {{>footer}}
</body>

</html>